name: CI
on: [push, pull_request]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Setup project
        uses: bpmn-io/actions/setup@latest
      - name: Build with coverage
        env:
          COVERAGE: 1
          TEST_BROWSERS: ChromeHeadless
        run: xvfb-run npm run all
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
